<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
	<meta charset="UTF-8">
	<title>Management Application</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #5cb85c">
			<ul class="navbar-nav">
				<li><a th:href="@{/adminWeb/products}" class="nav-link">Products</a></li>
				<li><a th:href="@{/adminWeb/customers}" class="nav-link">customers</a></li>
				<li><a th:href="@{/adminWeb/categories}" class="nav-link">categories</a></li>
				<li><a th:href="@{/adminWeb/invoice}" class="nav-link">Invoice</a></li>
				<li><a th:href="@{/adminWeb/payment}" class="nav-link">payments</a></li>
			</ul>
		</nav>
	</header>
	<br>
	<div class="container col-md-5">
		<div class="card">
			<div class="card-body">
				<form th:action="@{/adminWeb/addCategory}" th:object="${category}" method="post">
					<caption>
						<h2>Update Category</h2>
					</caption>
					<input type="hidden" th:field="*{id}"/>
					<fieldset class="form-group">
						<label>Name</label>
						<input type="text" th:field="*{name}" class="form-control" name="name" required="required">
					</fieldset>
					<button type="submit" class="btn btn-success">update</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>